
.navigation{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    float: right;
}
.links li{
    display: inline-block;
    
}

.links .button{
    text-decoration: none;
    margin:5px;
    padding: 10px 20px;
    border: 2px solid wheat;
}

.button:link{
    background-color: white;
}
.button:hover{
    background-color: wheat;
}

h3{
    width:200px;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.container > img{
    width: 500px;
    height: 400px;
}

.container > p{
    font-size: larger;
    width:400px;
    text-align: left;
}



