body{
    margin: 0px;
}

.header{
    font-family: sans-serif;
    width: auto;
    height: 100px;    
    background-color: antiquewhite;
    border:hidden;
    padding: 0;
    margin-bottom: 5px;
}

.header .title{
    font-size: 3em;
    background-color: white;
    text-align: left;
    width: 600px;
    border: 0;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 2px;
    margin: 0px;
    
}

.header .description{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    background-color:white;
    width: 600px;
    border: 1px hidden;
    border-right: 2px solid black;
    padding-bottom: 12px;
    padding-right: 4px;
    margin-top: 0px;
    margin-bottom: 10px;
}


.navigation{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    float: right;
}
.navigation li{
    display: inline-block;
    
}

.navigation .button{
    text-decoration: none;
    margin:5px;
    padding: 10px 20px;
    border: 2px solid wheat;
}

.button:link{
    background-color: white;
}
.button:hover{
    background-color: wheat;
}



div.recipe{
    font-size: 1.5em;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 400px;
}

div.recipe img{
    width:300px;
    height:200px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
    background-color: antiquewhite;
    margin: 20px;
    transition: all 0.5s;
}

div.recipe img:hover{
    transform: scale(1.1);
}

div.recipe a:link{
    color: blue;
    text-decoration: none;
}

div.recipe a:visited{
    color: blue;
    text-decoration: underline;
}

div.recipe a:hover {
    color: hotpink;
    text-decoration: underline;
    transition: all 0.3s;
    font-size: 135%;
}

