body{
    margin: 0px;
}

.header{
    font-family: sans-serif;
    width: auto;
    height: 100px;    
    background-color: antiquewhite;
    border: 1px solid hidden;
    padding: 1px;
    margin: 5px;
}

.header .title{
    font-size: 3em;
    background-color: white;
    text-align: left;
    width: 600px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 2px;
    margin: 0px;
    
}

.header .description{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    background-color:white;
    width: 600px;
    border: 1px hidden;
    border-right: 2px solid black;
    padding-bottom: 12px;
    padding-right: 4px;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.recipe{
    font-size: 1.5em;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 400px;
}

div.recipe img{
    width:300px;
    height:200px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
    background-color: antiquewhite;
    margin: 20px;
    transition: all 0.5s;
}

div.recipe img:hover{
    transform: scale(1.1);
}


