body{
    margin: 0px;
}

.header{
    font-family: sans-serif;
    width: auto;
    height: 100px;    
    background-color: antiquewhite;
    border: 1px solid hidden;
    padding: 1px;
    margin: 5px;
}

.header .title{
    font-size: 3em;
    background-color: white;
    text-align: left;
    width: 600px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 2px;
    margin: 0px;
    
}

.header .description{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    background-color:white;
    width: 600px;
    border: 1px hidden;
    border-right: 2px solid black;
    padding-bottom: 12px;
    padding-right: 4px;
    margin-top: 0px;
    margin-bottom: 10px;
}



.recipes li{
    font-size: 1.5em;
    list-style-type: none;
}

.list-elem{
    vertical-align: top;
    display: flex;
    text-align: center;
    width: 400px;
    height:300px;
}

.list-elem img{
    box-sizing: border-box;
    width:350px;
    height:250px;
    border: 2px solid black;
    padding: 0px;
    margin: 20px;
    transition: all 0.5s;
}

.list-elem a{
    display: block;
}

.recipes img:hover{
    transform: scale(1.1);
}


